 
@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@300;400;700;800&family=Poppins:ital,wght@0,200;0,400;0,500;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

 }
.container{
    width:100%;
    // background:purple;
    display: flex;
    height:100vh;
    flex-direction:column;
    background-image: url("./img/background.jpeg") ;
    background-position: center;
    background-size: cover;
    height: 100vh;

    .navbar{
        display: flex;
        width: 90%;
        height: 50px;
        justify-content: space-between;
        margin: 20px;

        .leftNav{

            span{
                // background-color: rgb(255, 255, 255);
                width: max-content;
                padding: 15px 10px;
                border-radius: 50px;
                margin-top: 10px;
                font-size: 20px;
                font-weight: bold;
                color: rgb(252, 252, 252);
                box-shadow: 10px 0px 5px -5px rgba(238, 237, 235, 0.5);

            }
        }

        .rightNav{

            ul{

                display: flex;
                justify-content: space-between;
                gap: 30px;
                list-style: none;

                li{
                    // background-color: rgb(255, 255, 255);
                    width: max-content;
                    padding:10px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: space-between;
                    gap: 50px;
                    list-style: none;
                    color: rgb(255, 255, 255);
                    cursor: pointer;
                    box-shadow: 10px 0px 5px -5px rgba(238, 237, 235, 0.5);
                    font-size: 20px;

                    
                }
            }



        }
    }
    .wrapper{
        width:100%;
    // background:purple;
    display: flex;
    height:80vh;

    

    .left{
        flex:1.2;
        // background:white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        h1{
            font-size: 40px;
            font-weight: 800;
            color: rgb(139, 235, 31);
            margin-bottom: 20px;

            i{
                color: white;
            }
        }
        p{
            font-size: 18px;
            width: 90%;
            color: rgb(245, 245, 245);
            

        }
        .buttons{
            display: flex;
            gap: 30px;
            
            button{
            width: 200px;
            padding: 2px 5px;
            font-size: 25px;
            border: none;
            background-color: orange;
            box-shadow: 10px 0px 5px -5px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            color: white;
            cursor: pointer;
            margin-top: 30px;

            &:hover{
                background-color: rgb(71, 160, 71);
                transform: scale(1.001);
            }
            }
        }
    }

    .right{
        flex:2;
        // background: white;
        
        display: flex;
        z-index: 999;
        justify-content: center;
        position: relative;

        img{
            width: 30%;
            height: 30%;
            object-fit: cover;
            position: absolute;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            right: 100px;
            bottom: 20px;
            
           
        }
        

        


        

    }
}
}
